@use "../../../assets/sass/" as *;

.img {
  min-width: 3.2rem;

  @include respond($bp-middle) {
    text-align: center !important;
  }

  img {
    width: 7rem;
    height: 7rem;
  }
}

.remove {
  button {
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 100%;
    height: max-content;
    border-bottom: 1px solid rgba($color-black, 0.3);
    color: rgba($color-black, 0.3);
    transition: all 0.3s;
    cursor: pointer;
    margin: 0 auto;

    @include center;

    @include respond($bp-middle) {
      float: right !important;
    }

    &:hover {
      border-bottom: 1px solid rgba($color-black, 0.6);
      color: rgba($color-black, 0.6);
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.quantity {
  input {
    width: 5.7rem;
    min-height: 4rem;
    border: 1px solid rgba($color-black, 0.2);
    padding: 0.3em;
    font-size: inherit;
  }
}

.name {
  color: $color-primary;
}

.product-info {
  font-weight: 600;
  color: $color-black;
  float: left;
  display: none;

  @include respond($bp-middle) {
    display: inline-block;
  }
}
