@use "../../assets/sass/" as *;

.size {
  font-family: $font-display;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  width: min-content;
  gap: 1rem;
}

.size-button {
  border: 1px solid rgba($color-black, 0.2);
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border: 1px solid rgba($color-black, 0.6);
  }
}

.price {
  font-family: $font-display;
  font-weight: 600;
}
