@use "../../assets/sass/" as *;

.figure {
  background-repeat: no-repeat;

  &:hover img {
    opacity: 0;
  }

  @include respond($bp-large) {
    &:hover img {
      opacity: 1;
    }
  }

  img {
    display: block;
    width: 100%;
    pointer-events: none;
  }
}
