$color-primary: rgb(223, 69, 62);
$color-secondary: rgb(182, 45, 37);
$color-black: rgb(22, 22, 22);
$color-grey: rgb(75, 79, 88);
$color-white: rgb(245, 245, 245);

$font-family: "Racing Sans One", cursive;
$font-display: "Roboto", sans-serif;

$bp-largest: 64em;
$bp-large: 56.25em;
$bp-middle: 46.875em;
$bp-little: 31.25em;
$bp-littlest: 26.56em;
